* {
    padding: 0;
    margin: 0;
    /* background-color: #f6f7f9;    */
}

.navbar {
    width: 100%;
    height: 60px; /*Change to percent */
    /* background-color: #ffffff; */
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.tagline {
    width: 40%;
    height: 90%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
    width: 40%;
    height: 90%;
    background-color: #ffffff;

}

.nav-sec1 {
    width: 25%;
    height: 90%;
    background-color: #ffffff;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#img1 {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

#p1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffa960;
    font-weight: 600;
    background-color: #ffffff;
}

.nav-sec2 {
    width: 55%;
    height: 90%;
    background-color:#ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    /* background-color:#ffb744; */
}

.nav-sec3 {
    width: 25%;
    height: 90%;
    background-color:#ffffff;
    margin-left: 10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    /* background-color:brown; */
}

.link1 {
    width: 20%;
    height: 90%;
    /* background-color: cadetblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

#a1 {
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: #ffffff;
}

.link2 {
    width: 20%;
    height: 90%;
    /* background-color:darkgoldenrod; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;  
}

#a2 {
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: #ffffff;
}

.link3 {
    width: 20%;
    height: 90%;
    /* background-color:darkorange; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

#a3 {
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: #ffffff;
}



.register{
    background-color: #00819f;
    width: 20%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-right: 20px;
}

#a4 {
    color: black;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: #00819f;  
}


/***Hero Secion***/
.Hero {
    width: 100%;
    /* margin-top: 30px; */
    height: 380px; /* Change to percent */
    background-color: #f6f7f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-hero {
    width: 60%;
    height: 70%;
    background-color: #f6f7f9;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}   

.Hero-det1 {
    width: 80%;
    height: 35%;
    background-color: #f6f7f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

#p2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1cm;
    font-weight: 600;
    background-color: #f6f7f9;
}

.Hero-det2 {
    width: 80%;
    height: 20%;
    background-color:#f6f7f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

#p3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color: #f6f7f9;
}

.Hero-det3 {
    width: 20%;
    height: 15%;
    background-color:#f6f7f9;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Hero-det3-subdet1 {
    width: 30%;
    height: 80%;
    background-color:#f6f7f9;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hr1 {
    width: 90%;
    color: #f6f7f9;
    background-color: #ffb744; 
}

.Hero-det3-subdet2 {
    width: 20%;
    height: 80%;
    background-color:#f6f7f9;
    display: flex;
    align-items: center;
    justify-content: center;
}

#img2 {
    width: 60%;
    height: 70%;
    object-fit: cover;
}

.Hero-det3-subdet3 {
    width: 30%;
    height: 80%;
    background-color:#f6f7f9;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hr2 {
    width: 90%;
    color: #ffb744;
}



.image-head {
    width: 100%;
    height: 510px;
    background-color:#f6f7f9;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-head-main {
    width: 80%;
    height: 90%;
}

#img3 {
    object-fit: cover;
    width: 100%;
    height: 100%;   
}

.para1 {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #f6f7f9;
}

.det1 {
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#p4 {
    font-family: "Poppins", Sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #60697b;
}

.para2 {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #f6f7f9;
}

.det2 {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#p5 {
    font-family: "Poppins", Sans-serif;
    font-weight: 600;
    font-size: 30px;
}

.para3 {
    width: 100%;
    height: 600px;
    background-color: #f6f7f9;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    /* align-items: center; */
}

.det3 {
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}

#sp1 {
    font-family:"Poppins", Sans-serif;
    font-size: 20px;
    color: #33997a;
    padding-left: 10px;
}

#p6 {
    font-family: "Poppins", Sans-serif;
    padding-left: 10px;
    color: #60697b;
}

.det4 {
    width: 90%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sp2 {
    font-family:"Poppins", Sans-serif;
    font-size: 20px;
    color: #33997a;
    padding-left: 10px;
}

#p7 {
    font-family: "Poppins", Sans-serif;
    padding-left: 10px;
    color: #60697b;
}

.det5 {
    width: 90%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#h3 {
    font-family:"Poppins", Sans-serif;
    font-size: 20px;
    color: #33997a;
    padding-left: 10px;
}

#p8 {
    font-family:"Poppins", Sans-serif;
    margin-bottom: 15px;
    padding-left: 10px;
    color: #60697b;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 10px;
    padding-top: 10px;
}

li {
    font-family:"Poppins", Sans-serif;
    margin-bottom: 10px;
    color: #60697b;
}

strong {
    color: #339966;
    font-family:"Poppins", Sans-serif;
}

.det6 {
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#p9 {
    font-family:"Poppins", Sans-serif;
    margin-bottom: 15px;
    padding-left: 10px;
    color: #60697b;
}


/*** Footer Section ***/
.links {
    width: 100%;
    height: 300px; /*  Change to Percent */
    background-color: #363636;
    border-top: 5px dotted black;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.link-sec1 {
    width: 30%;
    height: 90%;
    background-color: #363636;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.link-sec2 {
    width: 20%;
    height: 60%;
    background-color: #363636;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.link-sec3 {
    width: 20%;
    height: 90%;
    background-color: #363636;
}

.footer-img {
    width: 96%;
    height: 40%;
    background-color: #363636;
    margin-top: 10px;
}

.footer-para {
    width: 96%;
    height: 50%;
    background-color: #363636;
    margin-top: 10px;
}

#img10 {
    object-fit: cover;
    width: 200px; 
    height: 100%;
    padding-left: 10px;
}

#p10 {
    /* text-align: center; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-size: 20px;
    padding-left: 10px;
    color: white;
}

.contact-det-head {
    width: 90%;
    height: 30%;
    background-color: #363636;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#p11 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: .75cm;
    color: white;
}

.contact-det {
    width: 90%;
    height: 20%;
    background-color: #363636;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#p12 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
}

.icon-head {
    width: 95%;
    height: 30%;
    background-color: #363636;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-sec3-part1 {
    width: 100%;
    height: 55%;
    background-color: #363636;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.icons {
    width: 95%;
    height: 60%;
    background-color: #363636;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#p13 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: white;
}

#img11 , #img12 , #img13 , #img14 {
    width: 12%;
    height: 55%;
}

#img11:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

.query-box {
    width: 100%;
    height: 45%;
    background-color: #363636;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.query-box-head {
    width: 95%;
    height: 30%;
    background-color: #363636;
    display: flex;
    justify-content: center;
    align-items: center;
}

#p14 {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.query-box-cont {
    width: 95%;
    height: 55%;
    background-color: #363636;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whatsapp-container {
    width: 45%;
    height: 50%;
    background-color: white;
    /* background-color: brown; */
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatsapp-sub-container{
    width: 97%;
    height: 90%;
    background-color:darkorchid;
    display: flex;
    border-radius: 20px;
}

.whatsapp-img-container {
    width: 30%;
    height: 100%;
    /* background-color: darkkhaki; */
    background-color: #29af3e;
    display: flex;
    justify-content: center;
    border: none;
    outline: none;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.whatsapp-desc-container {
    width: 70%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#img4 {
    /* padding: 10px; */
    width: 20px;
    height: 20px;
    color: white;
}

#b1 {
    width: 100%; 
    height: 100%;
    border: none;
    outline: none;
    background-color: #29af3e;
    /* background-color: #29af3e; */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
